:root {
    --if-lightg: #deedd6;
    --if-darkg: #0aad0a;
    --if-orange: #ff8200;
    --if-body-font-family: Verdana, Geneva, sans-serif;
}

#logo{
    max-height: 50px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .col-sm img:hover {
    transform: scale(1.05);
  }

  @media (min-width: 900px){
    header{
      background-image: url("../img/home-background.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: right;
    }
  }

  
